.shop-btn {
  background-color: #64b496;
  border: 1.5px solid #64b496;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.shop-btn:hover {
  background-color: #000000 !important;
  border: 1.5px solid #64b496;
}

/* counter */

:root {
  --smaller: .75;
}

body {
  align-items: center;
  display: flex;
}

h1 {
  font-weight: normal;
  letter-spacing: .125rem;
  text-transform: uppercase;
}

li {
  display: inline-block;
  text-align: center;
  font-size: 15px;
  list-style-type: none;
  color: grey;
  padding: 5px 10px;
}

li span {
  display: block;
  font-size: 24px;
}

.cr-testimonial-pt-50 {
  padding-top: 50px;
}

.cr-testimonial {
  margin-top: -6px;
  padding: 75px 23px 25px 23px;
  position: relative;
  background-color: #f7f7f8;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
}

.cr-testimonial::before {
  width: 55px;
  height: 55px;
  top: 25px;
  left: 25px;
  content: "";
  background-image: url("https://maraviyainfotech.com/projects/carrot/carrot-v22/carrot-html/assets/img/testimonial/left-quote.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  opacity: 0.5;
}

.cr-testimonial::after {
  width: 55px;
  height: 55px;
  bottom: 17px;
  right: 25px;
  content: "";
  background-image: url("https://maraviyainfotech.com/projects/carrot/carrot-v22/carrot-html/assets/img/testimonial/left-quote.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(180deg);
  opacity: 0.5;
}

.cr-testimonial .cr-testimonial-inner {
  max-width: 310px;
}

.cr-testimonial .cr-testimonial-inner span {
  font-size: 17px;
  line-height: 2.357;
}

.cr-testimonial .cr-testimonial-inner h4.title {
  font-size: 21px;
  line-height: 1.833;
}

.cr-testimonial .cr-testimonial-inner p {
  margin-bottom: 5px;
  font-size: 15px;
}

.cr-testimonial .cr-testimonial-image {
  position: absolute;
  top: -58px;
  left: 0;
  right: 0;
}

.cr-testimonial .cr-testimonial-image img {
  width: 120px;
  height: 120px;
  border: 13px solid #fff;
}

.cr-testimonial {
  margin-top: 36px !important;
}

.cr-testimonial .cr-testimonial-image {
  top: -50px;
}

.cr-blog:hover .cr-blog-image img {
  -webkit-transform: rotate(5deg) scale(1.1);
  transform: rotate(5deg) scale(1.1);
}

.cr-blog .cr-blog-content h5 {
  font-size: 18px;
  line-height: 24px;
}

.cr-blog .cr-blog-content a:hover {
  color: #64b496 !important;
}

.cr-blog .cr-blog-content .read {
  font-size: 15px;
  line-height: 1.875;
  color: #64b496;
}

.cr-blog .cr-blog-image img {
  transition: all 0.3s ease-in-out;
  width: 100%;
  height: 210px;
}

.cr-blog .cr-blog-image .cr-blog-date {
  position: absolute;
  bottom: 12px;
  right: 12px;
  background-color: rgba(0, 0, 0, 0.7);
}

.cr-blog .cr-blog-image .cr-blog-date span {
  line-height: 1.2;
  display: grid;
}

.cr-blog .cr-blog-image .cr-blog-date span span {
  font-size: 17px;
  font-weight: 400;
}

.section-product-banner {
  position: relative;
}

.section-product-banner::before {
  width: 105px;
  height: 90px;
  content: "";
  background-image: url("https://maraviyainfotech.com/projects/carrot/carrot-v22/carrot-html/assets/img/shape/10.png");
  background-size: 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: -80px;
  left: -15px;
  transform: scaleX(-1);
}

.cr-product-banner-image {
  position: relative;
}

.cr-product-banner-image .cr-product-banner-contain {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.dropdown-menu-custom {
  position: absolute;
  width: 180px;
  z-index: 1000;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

.nav-item:hover .dropdown-menu-custom {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-item:hover {
  color: #64b496 !important;
}

.dropdown-hover .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transform: translateY(30px) translateX(-10px);
  transition: all 0.2s ease-out;
}

.dropdown-hover:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0) translateX(-10px);
}

.dropdown-categories {
  width: 550px;
  padding: 15px 35px;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
  left: -20px;
  top: 110%;
}

.dropdown-header {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;
  border-bottom: 1.5px solid #eee;
}

.dropdown-item {
  padding: 6px 0;
  color: #555;
  font-size: 15px;
  transition: all 0.2s;
}

.dropdown-item:hover {
  color: #64b496;
  transform: translateX(3px);
}

.footer-link:hover,
.sidemenu:hover {
  color: #64b496 !important;
  cursor: pointer;
  transition: 0.2s;
}

.insta-link {
  overflow: hidden;
  border-radius: 0.375rem;
}

.insta-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.insta-link:hover .insta-overlay {
  opacity: 1;
}

.cr-side-categories .categories-contain {
  width: 100%;
  bottom: 0px;
  left: 0px;
  z-index: 5;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2), transparent);
}

.cr-side-categories:hover:after {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0;
  top: 0;
  left: 0;
}

.cr-side-categories:after {
  transition: all 0.3s ease-in-out;
  width: 200px;
  height: 200px;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  position: absolute;
  top: -80px;
  left: -40px;
}

.hover-icons {
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 15px;
  right: 15px;
}

.card:hover .hover-icons {
  opacity: 1;
}

.icon-hover {
  width: 32px;
  height: 32px;
  padding: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.discount-text {
  position: absolute;
  bottom: 340%;
  right: 63%;
}

@media (max-width: 768px) {
  .deal-box-position {
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
  }
}

.cr-testimonial {
  width: 100%;
  max-width: 350px;
}

@media (max-width: 767.98px) {
  .sm-container {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}

@media (max-width: 991.98px) {
  .sm-container {
    padding-left: 6rem;
    padding-right: 6rem;
  }
}